/* Screen reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
  }
  
  /* Button styling */
  .menu-toggle {
    display: inline-block;
    padding: .75em 10px;
    line-height: 1em;
    font-size: 1em;
    color: #333;
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    color: rgb(194, 5, 5);
  }
  
  /*
   Default styles + Mobile first
   Offscreen menu style
  */
  .main-menu {
    position: absolute;
    display: none;
    left: -200px;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    transition: left 0.3s ease,
    box-shadow 0.3s ease;
    z-index: 999;
  }
  
  .main-menu ul {
    font-family: 'Lion King';
    list-style: none;
    margin-top: 0px;
    padding: 2.5em 0 0;
    min-height: 100%;
    width: 200px;
    background: #1a1a1a;
  }
  
  .main-menu a {
    display: block;
    padding: .75em 15px;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
  }

  .main-menu a:hover,
  .main-menu a:focus {
    background: #333;
    text-decoration: underline;
  }
  
  .main-menu .menu-close {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /*
   On small devices, allow it to toggle...
  */
  /*
   :target for non-JavaScript
   [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
  */
  .main-menu:target,
  .main-menu[aria-expanded="true"] {
    display: block;
    left: 0;
    outline: none;
  }
  
  .main-menu:target .menu-close,
  .main-menu[aria-expanded="true"] .menu-close {
    z-index: 1001;
  }
  
  .main-menu:target ul,
  .main-menu[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000;
  }
  
  /* 
   We could us `.main-menu:target:after`, but
   it wouldn't be clickable.
  */
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop{
    position: absolute;
    display: block;  
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #000;
    background: rgba(0,0,0,.85);
    cursor: default;
  }
  
  @supports (position: fixed) {
    .main-menu,
    .main-menu:target + .backdrop,
    .main-menu[aria-expanded="true"] + .backdrop{
      position: fixed;
    }
  }
  
  /*
   Larger screen styling
   Horizontal menu
  */
  @media (min-width: 768px) {
    .menu-toggle,
    .main-menu .menu-close {
      display: none;
    }
    
    /* Undo positioning of off-canvas menu */
    .main-menu {
      position: relative;
      left: auto;
      top: auto;
      height: auto;
      display: block;
      background: rgb(0, 0, 0);
      color: #fff;
      max-width: 100%;
    }
    
    .main-menu ul {
      display: flex;
      /* Undo off-canvas styling */
      padding: 0;
      height: auto;
      width: auto;
      background: rgb(233, 14, 14);
      font-size: 1.4rem;
    }
    
    .main-menu a {
      color: #fff;
      text-decoration: none;
      border: 0 !important; /* Remove borders from off-canvas styling */
    }
    
    .main-menu a:hover,
    .main-menu a:focus {
      background: none; /* Remove background from off-canvas styling */
      color: #c00;
      text-decoration: none;
    }
  }
  

  /*
 Demo purposes only
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: baseline;
  background-color: rgb(0, 0, 0);
}
